# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# Docker
docker-compose.yml
.dockerignore

# IDE
.vscode/
.idea/
