# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
build/
.DS_Store

# Editor
.vscode/
.idea/

# Backend static uploads (optional, depending on requirement)
backend/static/
